<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Test Site
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-content [fullscreen]="true"> -->
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar> -->
  </ion-header>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->


  <!-- <ion-button>Button</ion-button>

  <ion-fab>
    <ion-fab-button>Hello</ion-fab-button>
  </ion-fab>

  <ion-fab>
    <ion-fab-button>
      <ion-icon name="accessibility-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->



  <ion-text color="primary">
    <h1 id="section2">What is Lorem Ipsum?</h1>
  </ion-text>

  
    <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
    <ion-text>
      <!-- </ion-text>
    I saw a werewolf with a Chinese menu in his hand.
    Walking through the <ion-text color="success"><sub>streets</sub></ion-text> of Soho in the rain.
    He <ion-text color="medium"><i>was</i></ion-text> looking for a place called Lee Ho Fook's.
    Gonna get a <ion-text color="danger">big dish of beef chow mein.</ion-text> -->
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum. 
    </ion-text>
  

  <ion-text color="primary">
    <h2>Why do we use it?</h2>
  </ion-text>


  <ion-grid>
    <ion-row>

      <ion-col size="12" size-sm="12" size-md="10" size-lg="10">
        <ion-text>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at
            its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
            opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem
            ipsum' will uncover many web sites still in their infancy.  It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
            of Lorem Ipsum. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
        </ion-text>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="2" size-lg="2">
        <ion-img style="width: 200px;" src="https://docs-demo.ionic.io/assets/madison.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>

      </ion-col>

    </ion-row>
  </ion-grid>


  <!-- <ion-text color="primary">
    <h2 id="section2">What is Lorem Ipsum?</h2>
  </ion-text> -->

    <ion-text>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.<br/><br/>
    </ion-text>

  <ion-item>
    <ion-note slot="start">Note (Start)</ion-note>
    <ion-label>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>

  </ion-item>

  <ion-item>
    <ion-label>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>
    <ion-note slot="end">Note (End)</ion-note>
  </ion-item>


  <br />

  <ion-grid>
    <ion-row>
      <ion-col size="12"  size-sm="12" size-md="3" size-lg="3">  <ion-card>
        <img alt="Silhouette of mountains" src="https://docs-demo.ionic.io/assets/madison.jpg" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card></ion-col>
      
      <ion-col size="12"  size-sm="12" size-md="3" size-lg="3">  <ion-card>
        <img alt="Silhouette of mountains" src="https://docs-demo.ionic.io/assets/madison.jpg" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card></ion-col>

      <ion-col size="12" size-sm="12" size-md="3" size-lg="3">  <ion-card>
        <img alt="Silhouette of mountains" src="https://docs-demo.ionic.io/assets/madison.jpg" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card></ion-col>

      <ion-col size="12" size-sm="12" size-md="3" size-lg="3">  <ion-card>
        <img alt="Silhouette of mountains" src="https://docs-demo.ionic.io/assets/madison.jpg" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card></ion-col>


    </ion-row>
  </ion-grid>



  <br/>
  <ion-list>
    <ion-list-header>
      User Details
    </ion-list-header>



    <ion-item>
      <!-- <ion-label>Default input</ion-label> -->
      <ion-label position="floating">User Name</ion-label>
      <ion-input placeholder="User Name" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label>Password input</ion-label> -->
      <ion-label position="floating">Company Name</ion-label>
      <ion-input placeholder="Enter company name" [(ngModel)]="companyname"></ion-input>
    </ion-item>



    <ion-radio-group value="Gender" [(ngModel)]="gender">
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="end" value="Male"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="end" value="Female"></ion-radio>
      </ion-item>

    </ion-radio-group>

    <ion-item>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" [(ngModel)]="date"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button expand="block" fill="outline" (click)="cancel()">CANCEL</ion-button>
      </ion-col>

      <ion-col col-6>
        <ion-button expand="block" (click)="showLoading()">Submit</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <br />

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="cancel()">
    <a href="#section2">
      <ion-fab-button>
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button></a>
  </ion-fab>
  <!-- <ion-router>
    <ion-route url="/aboutus" component="app-aboutus"> </ion-route>
  </ion-router> -->

  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>